:root {
    --mainColor: #eef4ed;
    --secondaryColor: #eef4ed;

    --borderColor: #11151c;

    --mainTextColor: #151b25;
    --secondaryTextColor: #eef4ed;
    --thirdTextColor: #8da9c4;

    --tabHeight: 60px;
    --tabWidth: 150px;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--mainColor);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--secondaryTextColor);
    font-family: 'Gloock', serif;
    font-weight: 700;
}

p, li, label, input, textarea{
    color: var(--mainTextColor);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1 { 
    font-size: 64px;
    text-shadow: 1px 1px 3px var(--borderColor);
}
h2 { font-size: 36px}
h3 { font-size: 28px}
h4 { font-size: 24px}
h5 { font-size: 20px}
h6 { font-size: 16px}

.main-container{
    height: 100vh;
    background-image: url(background1.jpg);
    background-size: cover;
    
}

.greeting-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 10em;
}

.secondary-container{
    width: 800px;
    margin: 3em auto;
    background-color: var(--secondaryColor);

    -webkit-box-shadow: 11px 11px 10px 0px var(--borderColor);
    -moz-box-shadow: 11px 11px 10px 0px var(--borderColor);
    box-shadow: 11px 11px 10px 0px var(--borderColor);
}

.sub-wrapper{
    border:1px var(--borderColor);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--tabHeight) 400px;
    grid-template-areas:
    'tabs-row    tabs-row' 
    'left-column right-column';
}

.left-column{
    grid-area: left-column;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right-column{
    grid-area: right-column;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tabs-row{
    height: var(--tabHeight);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    border-bottom:2px solid var(--borderColor);
    grid-area: tabs-row;
}

.tab-button{
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: 24px;
    color: var(--mainTextColor);

    width: var(--tabWidth);
    height: var(--tabHeight);
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: transparent;
    border:0px;
    cursor: pointer;
    transition: .25s;
}

.tab-button:hover{
    color: var(--thirdTextColor);
    background: var(--borderColor);
}

#about_image{
    background-image: url(about_image1.jpg);
    border:2px solid var(--borderColor);
    height: 95%;
    width: 70%;
    background-size: cover;
}